


.is-active {
    color: hsl(141, 53%, 53%);
}

.is-not-active {
    color: hsl(348, 86%, 61%);
}

td.center { 
    text-align: center;
    align-items: center;
}

.is-vertical-center {
    align-items: center;
  }
  



  
  /* Triangle hack to make tooltip look like a speech bubble 
  [data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }*/
  
  ////

[data-tooltip]:before {
    /* needed - do not touch */ 
    content: attr(data-tooltip);
    position: absolute;
    opacity: 1;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: hsla(0, 0%, 20%, 0.9);;
    border-radius: 3px;
}

[data-tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    margin-top: -50px;
    margin-left: 20px;    
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

[data-tooltip]:not([data-tooltip-persistent]):before {
    pointer-events: none;
}