@import '~src/variables';


.custom-box {
    min-height: 160px;
    &.hoverable {
        border-radius: 0.3em;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        &:hover {
            background-color: $primary;
            box-shadow: 0 0.5em 1em -0.125em rgba(hsl(0, 0%, 4%), 0.25), 0 0px 0 1px rgba(hsl(0, 0%, 4%), 0.02);
            cursor: pointer;
        }
    }

    &.active {
        background-color: $primary;
    }

    &.disabled {
        color: #7a7a7a;
        background-color: #f5f5f5
    }
}
