@font-face {
    font-family: "Candara";
    src: url('assets/font/Candara.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Candara";
    src: url('assets/font/Candarab.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Candara";
    src: url('assets/font/Candarai.ttf') format("truetype");
    font-weight: normal;
    font-style: italic, oblique;
}


@font-face {
    font-family: "Candara";
    src: url('assets/font/Candaraib.ttf') format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Candara";
    src: url('assets/font/Candaral.ttf') format("truetype");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Candara";
    src: url('assets/font/Candarali.ttf') format("truetype");
    font-weight: lighter;
    font-style: italic;
}


/** NOBU font **/ 

@font-face {
    font-family: "nobu-name";
    src: url('assets/font/Josefin.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "nobu-description";
    src: url('assets/font/Montserratmi.ttf') format("truetype");
    font-style: italic;
}

@font-face {
    font-family: "nobu-title";
    src: url('assets/font/Montserratr.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

/** rosa nautica **/

@font-face {
    font-family: "butler";
    src: url('assets/font/Butlerr.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "butler";
    src: url('assets/font/Butler_Bold.otf') format("opentype");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: "butler-normal";
    src: url('assets/font/Butler_Regular.otf') format("opentype");
    font-weight: bold;
    font-style: normal;
}


/** 422 **/ 

@font-face {
    font-family: "rosewood";
    src: url('assets/font/RosewoodStd.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

/** 452 **/

@font-face {
    font-family: "tradegotic";
    src: url('assets/font/Trade_Gotic.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}


/** 246 **/

@font-face {
    font-family: "metropolis";
    src: url('assets/font/Metropolis-Regular.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "metropolis";
    src: url('assets/font/Metropolis-SemiBold.otf') format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "panton";
    src: url('assets/font/Panton_SemiBold.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "leelawad";
    src: url('assets/font/leelawad.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "leelawad";
    src: url('assets/font/leelawad-Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "palatino";
    src: url('assets/font/Palatino.ttf') format("truetype");
    font-weight: normal;
    font-style: italic;
}

/** Caffe 775 **/
@font-face {
    font-family: "montserratalternate";
    src: url('assets/font/MontserratAlternates-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "prestigeelite";
    src: url('assets/font/PrestigeEliteStd-Bd.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

/*Vi to be*/
@font-face {
    font-family: "ivymoderegular";
    src: url('assets/font/ivy-mode-regular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ivymodesemibold";
    src: url('assets/font/ivy-mode-semibold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "nimbussans";
    src: url('assets/font/nimbus-sans-regular.otf');
    font-weight: normal;
    font-style: normal;
}