

$primary:  #fed03d;
$primary-hover: #e7be38;
$secondary: #333333; 
$secondary-hover: #535353; 
$old_green: #44af64;
$body_background: #f4f7fa;
$capbocolor:  #255179;
$capbocolordark:  #18354f;
$lonautic:  #294742;
$cafe:  #c1a01f;
$vitobeprimary: #572D2D;
$vitobetext: #f3f0e8;
//$family-primary: Arial, Helvetica, sans-serif;